@font-face {
    font-family: Revalia;
    src: url(../fonts/Revalia/Revalia-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
box-sizing: inherit;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, ul, li, input, textarea {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Roboto, Arial, Verdana, sans-serif;
    font-weight: normal;
    font-size: 16px;
    /* font-size: 100%; */
 }

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 21px;
}

p {
    margin-bottom: 15px;
}


 /* body { */
     /* УДАЛИТЬ */
    /* background-color: blanchedalmond;
 } */

.wrapper {
    width: 100%;
    position: relative;
    overflow: hidden; 
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

/* всё выше по умолчанию */

.header-main, .design, .howiwork, .myform {
    background-color: #EEEFF1;
}

.container {
    max-width: 1180px;
    /* max-height: 1004px; */
    padding: 0 15px;
    margin: 0 auto;
    /* border: 1px solid brown;  */
}

/* _____________________header__________________ */

.emptyheader {
    position: fixed;
    height: 124px;
    left: 0;
    right: 0;
    background: #EEEFF1;
    z-index: 4;
}
     
.header-main {
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
    padding: 50px 0 15px 0;
    margin: 0 -15px;
    left: 15px;
    right: 15px;
    max-width: 1150px;
    margin: 0 auto;
}

.logo {
    display: flex;
    /* max-width: 896px; */
    width: 100%;
    justify-content: flex-start;
    font-family: Revalia, Arial, Verdana, sans-serif;
    font-size: 48px;
    line-height: 1.24;
    padding: 0 25px;
    font-weight: 400; /* можно не указывать, т.к. по дефолту*/ 
    text-decoration: none;
    color: #34547A;
}

.main-nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 15px 30px;
}

.nav-box {
    display: flex;
    list-style: none;
    margin: 0 -21px;
}

.nav-item {
    text-transform: uppercase;
    padding: 0 21px;
    white-space: nowrap;
    text-decoration: none;
    letter-spacing: 0.1em;
}

.nav-box .nav-item:nth-child(1) > a {
    font-weight: 500;
}

.nav-item a {
    text-decoration: none;
    color: #34547A;
}

/* _____________________design__________________ */
.design {
    padding: 245px 0 0 0;
    margin: 0 -15px;
}

.design-row {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 0px 0 130px 0;
    /* margin: 0 -15px; */
}

.design-col {
    width: 50%;
    /* margin: 0 -15px; */
}

.design-col-one {
    display: flex;
    /* исправить на flex-end */
    /* justify-content: flex-start; */
    justify-content: center;
    /* удалить ? исправить?*/
    padding: 25px 25px 60px 25px;
}

.design-col-two {
    display: flex;
    flex-direction: column;
    padding: 0 15px 15px 15px;
}

.design-col h1 {
    display: flex;
    /* margin-bottom: 15px; */
    /* align-items: baseline; */
    line-height: 1.4;
    font-weight: 500;
    padding: 0 0 15px 0;
    /* text-align: justify; */
}

.design-col-two-paragraphs {
    padding: 25px 0 38px 0;
}

.design-col-two-paragraphs p {
    display: flex;
    flex-grow: 1;
    align-items: center;
    line-height: 1.64;
    font-weight: 400;
    color: #727272;
    /* padding: 40px 0 50px 0; */
    /* justify-content: center; */
}

.design-box-button {
    display: flex;
}

.writeme {
    color: #FFFFFF;
    background: #34547A;
    text-decoration: none;
    padding: 25px 40px;
    text-transform: uppercase;
    white-space: nowrap;
    /* letter-spacing: 10%; */
    letter-spacing: 0.1em;
}

/* _____________________aboutme__________________ */
.aboutme-container {
    display: flex;
    justify-content: center;
    margin: 0 -15px;

}

.aboutme-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    line-height: 1.24;
    padding: 119px 0 65px 0;

    /* padding: ; */
}

.aboutme-box-paragraphs {
    padding: 15px 0 15px 0;
}

.aboutme-box h2 {
    line-height: 1.16;
    padding: 0 0 25px 0;
    font-weight: 500;
}

.aboutme-box p {
    color: #727272;
    line-height: 1.63;
    /* padding: 15px 0 0 0; */
    text-align: center;
}

/* _____________________statistics__________________ */

.statistics {
    background: #34547A;
    margin: 0 -15px;
}

.statistics-row {
    display: flex;
    flex-grow: 1;
    padding: 85px 0;
    align-items: center;
    justify-content: center;
}

.statistics-col-one {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.statistics-col-one-item {
    display: flex;
    /* flex-grow: 1; */
    align-items: center;
    /* width: 16.66%; */
    padding: 15px 25px 15px 25px;
}

.stat-col-item-img {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    min-width: 30px;
    /* max-width: 50px; */
}

.stat-col-item-img > img {
    max-width: 50px;
}

.stat-col-item-txt {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    color: #FFFFFF;
    padding: 0 0 0 20px;
    justify-content: center;
}

.stat-col-item-txt p {
    margin: 0;
}

.stat-col-item-txt > h3 {
    line-height: 1.2;
    font-weight: 500;
}

.stat-col-item-txt > p {
    line-height: 1.63;
}

/* _____________________myskill__________________ */

.myskill-row {
    display: flex;
    flex-grow: 1;
    max-width: 1150px;
    padding: 102px 0 83px 0;
    /* align-items: center; */
}

.myskill-col {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.myskill-col-container {
    max-width: 80%;
}

.myskill-col-container > h2 {
    font-weight: 500;
    padding: 105px 0 30px 0;
    line-height: 1.16;
}

.myskill-col-container > span {
    display: inline-block;
    font-size: 15px;
    padding: 15px 0 10px 0;
}

.myskill-col-two {
    justify-content: center;
}

.progressbar-container {
    padding: 7px 0 15px 0;
}

.progressbar {
    background: #C4C4C4;
}

.progressbar-default {
    height: 4px;
    background: #34547A;
}

.progressbar-one > div {
    width: 90%;
}

.progressbar-two > div {
    width: 50%;
}

.progressbar-three > div {
    width: 70%;
}


/* _____________________howiwork__________________ */

.howiwork-row {
    display: flex;
    flex-direction: column;
    padding: 103px 0 75px 0;
    align-items: center;
    text-align: center;
}

.howiwork-row > h2 {
    font-weight: 500;
    padding: 0 0 25px 0;
    line-height: 1.16;
}

.howiwork-row-paragraph {
    max-width: 540px;
    padding: 15px 0 15px 0;
    line-height: 1.63;
}

.howiwork-video-box {
    position: relative;
    padding: 10px 15px 15px 15px ;
}

.playbtn-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

/* _____________________picture-box__________________ */

.picture-box-row {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 35px 0;
    max-width: 1920px;
    margin: 0 auto;
}

.picture-box-col {
    position: relative;
    width: 25%;
}

.picture-link::before {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    background: linear-gradient(0deg, rgba(52, 84, 122, 0.8),
     rgba(52, 84, 122, 0.8));
    opacity: 0;
}

.picture-link::after {
    content: ''; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0;
    /* transform: translate(-50%, -50%); */
    background: url(..//img/view.png) no-repeat center;
    opacity: 0;
}

.picture-link:hover::before,
.picture-link:hover::after {
    opacity: 0.8;
}

/* _____________________partners__________________ */

.partners {
    /* background: #34547A; */
    margin: 0 -15px;
}

.partners-row {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 35px 0px 100px 0px;
    align-items: center;
    justify-content: center;
}

.partners-col {
    display: flex;
    flex-grow: 1;
    padding: 0 5px 0 5px;
    justify-content: center;
}

/* _____________________myform__________________ */

.myform-section-container {
    /* display: flex; */
    /* flex-grow: 1; */
    /* flex-direction: column; */
    align-items: center;
    text-align: center;
    max-width: 570px;
    margin: 0 auto;
    padding: 100px 15px 70px 15px;
}

.myform-section-container > h2 {
    padding: 0 0 15px 0;
    line-height: 1.16;
    font-weight: 500;
}

.myform-section-container > p {
    padding: 25px 0;
    color: #727272;
    line-height: 1.63;
}

.myform-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 15px 0px 0px 0px;
}

.myform-box-fieldset-one {
    display: flex;
    padding: 0 0 10px 0;
    /* flex-grow: 1; */
}
.myform-box-fieldset-two {
    /* flex-grow: 1; */
    /* max-height: 175px;
    height: 100%; */
    padding: 10px 0 20px 0;
}

.myform-box-fieldset-three {
    /* flex-grow: 1; */
    padding: 30px 0 30px 0;
}

.myform-box-fieldset {
    display: flex;
    flex-direction: column;
}

.fieldset-text {
    padding: 15px 15px 15px 20px;
    font-size: 14px;
    line-height: 1.63;
}

.fieldset-text-name {
    margin: 0 15px 0 0;
    width: 50%;
}

.fieldset-text-email {
    margin: 0 0 0 15px;
    width: 50%;
}

.fieldset-text-area {
    width: 100%;
    height: 170px;

    /* flex-grow: 1; */
    resize: none;
}

.myform-box-btn {
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2.1px;
    background: #34547A;
    cursor: pointer;
    padding: 18px 43px;
    border: none;
}

/* _____________________footer__________________ */

.footer-background {
    background: #34547A;
}

.footer-row {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding: 45px 15px;
}

.footer-col {
    width: 50%;
    color: #FFFFFF;
}

.footer-col > h3 {
    font-weight: 500;
    line-height: 1.63;
    padding: 0 0 7px 0;
}

.footer-col > span {
    font-size: 13px;
    line-height: 1.63;
    /* padding: 10px 0 0 0; */
}

.footer-col > a {
    text-decoration: none;
    padding: 5px 11px;
    font-size: 24px;
}

.footer-col-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    font-size: 17px;
}










































/* затемнение картинки при наведении:
https://qna.habr.com/q/412491
https://jsbin.com/pokunufiho/edit?html,css,output */


/* УДАЛИТЬ */
/* .delete1 {
    height: 5000px; 
    opacity: 1;
    z-index: -5;
    border: red solid 1px;
    position: fixed; 
    top: 250px; 
    left: 0; 
    right: 0; 
}
.delete2 {
    height: 5000px; 
    opacity: 1;
    z-index: -5;
    border: blue solid 1px;
    position: fixed; 
    top: 700px; 
    left: 0; 
    right: 0; 
}
.delete3 {
    height: 5000px; 
    opacity: 1;
    z-index: -5;
    border: green solid 1px;
    position: fixed; 
    top: 1066px; 
    left: 0; 
    right: 0; 
} */











/* .row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 25%;
    padding: 0 15px 30px;
} */

  /* всё выше по умолчанию для flex*/

  /* .aside { */
    /* display: flex; */

    /* flex-basis: 210px; не работает*/
    /* max-width: 210px; */
    /* width: 100%; */
    /* так работает (см.выше) */

    /* justify-content: center; если флекс*/
    /* padding: 10px;
    text-align: center;
  } */
